body{
    margin:0px;
    color: white;
}
.navContainer{
    display:flex;
    justify-content: center;
    width:100%;
    height:80px;
    background-color: black;
}
.fa-spotify{
    color:white;
    font-size: 45px;
}
.logo_name{
    font-size: 30px;
    font-weight: bold;
}
.navBar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:1200px;
    height:100%;
    /* background-color: rgb(82, 53, 0); */
}
.navLogo{
    display: flex;
    align-items: center;
    padding:0 15px;
}
.navLogo span{
    padding-left: 7px;
}
.navMenu{
    padding:0 15px;
}
.navMenu span{
    padding:0 21px;
    font-weight: bold;
}
.menuDownload{
    border-right: 1px solid white;
}
/*  campaign   */
.campaignContainer{
    display:flex;
    justify-content: center;
    width:100%;
    height:467px;
    background-color:#f5c8cc;
    color:black;
}
.campaign{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:1200px;
    /* background-color: burlywood; */
}
.campaignInfo{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:600px;
    height: 350px;
    padding:0 15px;
}
.infoMember{
    font-size: 43px;
    font-weight: bold;
    width:700px;
}
.infoPrice{
    font-size: 23px;
    font-weight:normal;
    width:390px;
}
.infoBtn{
    display:flex;
}
.infobtn{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 30px;
    width:115px;
    height: 50px;
    font-size: 15px;
}
.btnStart{
    background-color: black;
    color:white;
    margin-right: 9px;
}
.btnStart:hover{
    background-color: rgb(206, 206, 206);
    color:rgb(0, 0, 0);
}
.btnPlan:hover{
    background-color: rgb(255, 228, 204);
}
.infoDetail{
    font-size: 12px;
    color:rgb(85, 85, 85)
}
.campaignImage img{
    width:350px;
    height: 350px;
    padding:0 15px;
}
/*  appDownlaod  */
.appContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    width:100%;
    height:467px;
    background-color: #f7f7f7;
}
.appDownload{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:1200px;
    height: 270px;
    /* background-color: blanchedalmond; */
}
.appTitle{
    font-size: 43px;
    font-weight: bold;
}
.appInfo{
    margin: 10px 0;
    font-size: 25px;
}
.infoPlay{
    margin-bottom: 10px;
    font-size: 60px;
}
.appPolicy{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:920px;
    font-size: 10px;
}
/*  why  */
.whyContainer{
    display:flex;
    justify-content:center;
    color:black;
    width:100%;
    height:467px;
}
.whySection{
    padding:75px 15px;
    width:1200px;
    /* background-color: blanchedalmond; */
    display:flex;
    flex-direction: column;
    align-items: center;
}
.whyTitle{
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 15px;
}
.itemContainer{
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.whyItem{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:285px;
    height: 285px;
    /* background-color: rgb(255, 247, 137); */
    margin:0 15px;
}
.whyFind{
    display:flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    width:300px;
    margin:5px 0;
}
.whyPlay{
    font-size: 15px;
}
.whyItem i{
    font-size: 100px;
    margin:20px 0;
    color:gray;
}
.whyItem img{
    margin:25px 0;
    width:150px;
    height: 150px;
}
.play2{
    display:flex;
    flex-direction: column;
    align-items: center;
}


/* pricePlanContainer */
.pricePlanContainer{
    display:flex;
    justify-content: center;
    width:100%;
    height: 835px;
    background-color: #f7f7f7;
    color:black;
}
.pricePlan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:1200px;
    height: 100%;
    /* background-color: coral; */
}
.planTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.planBoxContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.planBox{
    width:432px;
    height: 520px;
    background-color: white;
    box-shadow: 5px 5px 9px 1px black;
    border-radius: 10px;
}
.selectPrice{
    font-size: 43px;
    font-weight: bold;
}
.planOfTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 153px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid black;
}
.freePlan{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 76.28px;
    height: 26px;
    padding:2px;
    color:white;
    font-weight: bold;
    background-color: #3B6AC4;
    border-radius: 5px;
}
.presonalPlan{
    font-size: 27px;
    font-weight: bold;
    margin:5px 0;
}
.listPlan{
    height: 240px;
}

.planBox li{
    list-style-type:disc;
    margin:20px 0;
    font-size: 15px;
    list-style-type: none;
    /* background-color: violet; */
    padding-left: 20px;
    padding-right: 20px;
}
.planBtn{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 48px;
}
.startPlan{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: black;
    width:90%;
    border-radius: 25px;
    color:white;
}
.detailPlan{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: violet; */
    height: 64px;
    font-size: 12px;
}
.policyPlan{
    width:380px;
}
/* needHelp */

.needHelp{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    background-color: #f7f7f7;
    width: 100%;
    height: 793px;
}
.helpContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 100%;
    /* background-color: blanchedalmond; */
}
.helpTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.hellpSubTitle{
    margin-top:10px;
    font-size: 25px;
}
.helpItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px;
    width: 1000px;
    height: 30px;
    background-color: white;
    margin:3px 0;
}
.helpContainer li{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}
.helpTitle{
    font-size: 43px;
    font-weight: bold;
}

/* footSection */
.footSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 530px;
    background-color: black;
}
.footContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width:1200px;
    height: 100%;
    /* background-color: cadetblue; */
}

.footerList{
    display: flex;
    align-items: baseline;
    width: 585px;
}
.footerListContent li{
    list-style-type: none;
    margin:10px 0;
}
.footerListContent{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 346px;
    width:193px;
    margin:0 10px;
}
.fotterIcon{
    display: flex;
    font-size: 25px;
}
.fotterIcon i{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width:25px;
    height: 25px;
    background-color: #1F2022;
    border-radius: 50%;
    padding:10px;
    margin:0 5px;
}
.footerGray{
    color:#838687;
    margin-bottom: 15px;
}
.footerPolicy{
    color:#838687;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 13px;
}
.policyOfPeople{
    display: flex;
    justify-content: space-between;
    width: 307px;
}
.footerRegion{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.koreaReigon{
    margin:10px 0;
}