<%- layout("layout/boilerplate")  %> 
<link rel="stylesheet" href="/CSS/home.css" />

<header class="navContainer">
    <section class="navBar">
        <div class="navLogo">
            <i class="fab fa-spotify"></i>
            <span class="logo_name">Spotify</span>
        </div>
        <div class="navMenu">
            <span>프리미엄</span>
            <span>지원</span>
            <span class="menuDownload">다운로드하기</span>
            <span>가입하기</span>
            <span>로그인하기</span>
        </div>
    </section>
</header>

<section class="campaignContainer">
    <section class="campaign">
        <section class="campaignInfo">
            <div class="infoMember">Spotify Preminum 맴버가 되어보세요. 3개월간 무료로 이용하세요.</div>
            <div class="infoPrice">매월 최소 10,900원입니다(부가세 별도). 언제든 해지할 수 있습니다.</div>
            
            <div class="infoBtn">
                <div class="infobtn btnStart">시작하기</div>
                <div class="infobtn btnPlan">요금제 보기</div>
            </div>
    
            <div class="infoDetail">이후에는 월정액 요금이 적용됩니다. 개인 요금제에만 적용되며 아직 Premium에 가입하지 않은 사용자만 이 프로모션을 이용하실 수 있습니다. 약관이 적용됩니다.</div>
        </section>
        <section class="campaignImage">
            <img src="https://image.bugsm.co.kr/album/images/1000/40271/4027185.jpg" alt="">
        </section>
    </section>
</section>

<section class="appContainer">
    <section class="appDownload">
        <div class="appTitle">앱을 다운로드 하세요</div>
        <div class="appInfo">1대의 모바일 기기에서 7일 동안 무료로 Spotify Premium 멤버십을 이용해보세요. 결제 정보는 필요하지 않습니다.</div>
        <div class="infoPlay">
            <i class="fab fa-apple"></i>
            <i class="fab fa-google"></i>
        </div>
        <div class="appPolicy">약관이 적용됩니다. Premium을 이미 이용해 보셨거나 다른 기기로 이용하시려는 경우 이 프로모션을 이용할 수 없습니다. 7일 후에도 계속 Spotify <span>서비스를 이용하려면 Premium에 가입해야 합니다.</span></div>
    </section>
</section>

<section class="whyContainer">
    <section class="whySection">
        <div class="whyTitle">Spotify를 이용해야 하는 이유</div>
        <div class="itemContainer">
            <div class="whyItem">
                <i class="fas fa-mobile"></i>
                <div class="whyFind">새로운 음악 발견하기</div>
                <div class="whyPlay">8천만 개가 넘는 트랙을 즐겨보세요.</div>
            </div>
            <div class="whyItem">
                <i class="far fa-chart-bar"></i>
                <div class="whyFind">나만의 플레이리스트</div>
                <div class="whyPlay">음악 취향에 맞춰 만들었습니다.</div>
            </div>
            <div class="whyItem">
                <i class="fab fa-soundcloud"></i>
                <div class="whyFind">오프라인으로 음악을 들으세요</div>
                <div class="whyPlay">내 기기에 노래 다운로드.</div>
            </div>
            <div class="whyItem">
                <i class="fas fa-stream"></i>
                <div class="whyFind">여러 기기에서 스트리밍</div>
                <div class="whyPlay">모바일, PC, 태블릿에서 음악을 들어보세요.</div>
            </div>
        </div>
    </section>
</section>

<section class="whyContainer">
    <section class="whySection">
        <div class="whyTitle">새로운 음악 문화를 경험해보세요</div>
        <div class="itemContainer">
            <div class="whyItem">
                <img src="https://image.bugsm.co.kr/album/images/1000/158866/15886617.jpg" alt="">
                <div class="whyFind">국내 인기곡</div>
                <div class="whyPlay">국내 아티스트의⁠인기곡을 들어보세요.</div>
            </div>
            <div class="whyItem">
                <img src="https://image.bugsm.co.kr/album/images/1000/161064/16106437.jpg" alt="">
                <div class="whyFind">최신 음악</div>
                <div class="whyPlay play2">지금 막 출시된<br>
                    <span>따끈따끈한 음악을 만나보세요.</span></div>
            </div>
            <div class="whyItem">
                <img src="https://image.bugsm.co.kr/album/images/1000/155221/15522126.jpg" alt="">
                <div class="whyFind">불후의 명곡</div>
                <div class="whyPlay play2">어떤 무드에든<br><span>
                    어울리는 음악을 찾아보세요.</span></div>
            </div>
            <div class="whyItem">
                <img src="https://image.bugsm.co.kr/album/images/1000/152684/15268404.jpg" alt="">
                <div class="whyFind">해외 아티스트</div>
                <div class="whyPlay">전 세계 음악을 들어보세요.</div>
            </div>
        </div>
    </section>
</section>

<section class="pricePlanContainer">
    <section class="pricePlan">
        <div class="planTitle">
            <div class="selectPrice">요금제 선택하기</div>
            <div>휴대폰, 스피커 및 기타 디바이스에서 제한 없이 마음껏 들으세요.</div>
        </div>
        <div class="planBoxContainer">
            <div class="planBox">
                <section class="planOfTop">
                    <div class="freePlan">3개월 무료</div>
                    <div>
                        <div class="presonalPlan">개인</div>
                        <div>체험 기간 이후 매월 10,900원 결제(부가세 별도).</div>
                        <div>계정 1개</div>
                    </div>
                </section>
                <section class="listPlan">
                    <li><i class="fas fa-check"></i> 무광고로 음악 감상하기</li>
                    <li><i class="fas fa-check"></i> 다운로드하여 오프라인에서 감상</li>
                    <li><i class="fas fa-check"></i> 나만의 맞춤 플레이리스트</li>
                    <li><i class="fas fa-check"></i> 8천만 곡 감상 가능</li>
                    <li><i class="fas fa-check"></i> 여러 기기에서 감상</li>        
                </section>
                <section class="planBtn">
                    <div class="startPlan">시작하기</div>
                </section>
               <section class="detailPlan">
                   <div class="policyPlan">체험 기간 이후에는 월정액 요금이 부과되며 약관이 적용됩니다. 아직 Premium
                구독을 해본 적이 없는 사용자만 이 혜택을 이용하실 수 있습니다.</div>
                </section>
                
            </div>
            <div class="planBox">
                <section class="planOfTop">
                    <div class="freePlan">1개월 무료</div>
                    <div>
                        <div class="presonalPlan">듀오</div>
                        <div>매월 16,350원 결제(부가세 별도)</div>
                        <div>계정 2개</div>
                    </div>
                </section>
                <section class="listPlan">
                    <li> <i class="fas fa-check"></i> Premium 계정 2개</li>
                    <li><i class="fas fa-check"></i> 무광고로 음악 감상하기</li>
                    <li><i class="fas fa-check"></i> 다운로드하여 오프라인에서 감상</li>
                    <li><i class="fas fa-check"></i> 나만의 맞춤 플레이리스트</li>
                    <li><i class="fas fa-check"></i> 8천만 곡 감상 가능</li>
                    <li> <i class="fas fa-check"></i> 여러 기기에서 감상</li>              
                </section>
                <section class="planBtn">
                    <div class="startPlan">시작하기</div>
                </section>
               <section class="detailPlan">
                   <div class="policyPlan">약관이 적용됩니다. 아직 Premium 구독을 해본 적이 없는 사용자만 이 혜택을
                    이용하실 수 있습니다. 같은 주소지에 거주하는 두 사람을 위한 서비스입니다.</div>
                </section>
            </div>
        </div>
    </section>
</section>

<section class="needHelp">
    <section class="helpContainer">
        <div class="helpTop">
            <div class="helpTitle">궁금한 점이 있으신가요?</div>
            <div class="hellpSubTitle">답변을 드리겠습니다.</div>
        </div>
        <div class="helpList">
            <div class="helpItem"><li>Spotify Premium이란 무엇인가요?</li><i class="fas fa-chevron-down"></i></div>
            <div class="helpItem"><li>Spotify Premium을 구독하면 곡을 오프라인에서 감상할 수 있나요?</li><i class="fas fa-chevron-down"></i></div>
            <div class="helpItem"><li>Spotify Premium을 무료로 이용해볼 수 있나요?</li><i class="fas fa-chevron-down"></i></div>
            <div class="helpItem"><li>7일간 무료로 Spotify Premium을 이용하려면 어떻게 해야 하나요?</li><i class="fas fa-chevron-down"></i></div>
            <div class="helpItem"><li>내 프로모션 기간이 종료되기 전에 Spotify Premium을 해지할 수 있나요?</li><i class="fas fa-chevron-down"></i></div>
            <div class="helpItem"><li>Spotify에서 음악 찾기는 어떻게 해야 하나요?</li><i class="fas fa-chevron-down"></i></div>
        </div>
    </section>
</section>

<footer class="footSection">
    <section class="footContainer">
        <div class="navLogo">
            <i class="fab fa-spotify"></i>
            <span class="logo_name">Spotify</span>
        </div>
        <div class="footerList">
            <div class="footerListContent">
                <span class="footerGray">회사</span>
                <li>상세정보</li>
                <li>채용정보</li>
                <li>For the Record</li>
            </div>
            <div class="footerListContent">
                <span class="footerGray">커뮤니티</span>
                <li>아티스트</li>
                <li>개발자</li>
                <li>투자자</li>
                <li>공급업체</li>
            </div>
            <div class="footerListContent">
                <span class="footerGray">유용한 링크</span>
                <li>지원</li>
                <li>웹 플레이어</li>
            </div>
        </div>
        <div class="fotterIcon">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
        </div>
    </section>
    <section class="footerPolicy">
        <div class="policyOfPeople">
            <div>법률 정보</div>
            <div>개인정보 보호 센터</div>
            <div>개인정보 처리방침</div>
        </div>
        <div class="footerRegion">
            <div class="koreaReigon"><i class="fas fa-globe-americas"></i> 대한민국 (한국어)</div>
            <div><i class="far fa-copyright"></i> 2022 Spotify AB</div>
        </div>
    </section>
</footer>
